<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Appointments</title>
</head>
<body>
    <br>
    <strong><h1 class="card-title" style="margin-left: 50%; font-size: larger;">Your Appointments</h1></strong>
    <div class="card" style="width: 50rem; text-align:flex-start; margin:10px 25%; padding:2%;">
        <div class="card-body">
            {% if appointments %}
    
            {% for appointment in appointments %}
            <div class="card-body">
                <h3><strong>{{ appointment.title }}</strong></h3>
                <h5><strong>Client Name: </strong> {{ appointment.client_Name }}</h5>
                <p><strong>Date: </strong> {{ appointment.date }}</p>
                <p><strong>Time: </strong> {{ appointment.time }}</p>
                <p><strong>Description: </strong> {{ appointment.description }}</p>
            </div>
            {% endfor %}
    
            {% else %}
            <p>You have no appointments at the moment.</p>
            {% endif %}
        </div>
    </div>
    
    <a href="">Refresh</a>


    <a href="#" class="btn-back" id="backButton" style="margin-left: 25%;">Back</a>

<script>
    // Add an event listener to the Back button
    document.getElementById('backButton').addEventListener('click', function (e) {
        e.preventDefault();
        window.history.back(); // Use JavaScript to go back to the previous page
    });
</script>
</body>
</html>
