body {
  background-color: #c2d4d8;
}
.Van{
  /* display:flex; */
  padding-top:50px;
  background-color: #121314;
  color: white;
  margin-top: auto;
  position: absolute;
  width: 100%;
  margin-bottom: 0;
  }
  #mind{
    width:175px;
    height:59px;
  }
  
  #mind1{
    width:175px;
    height:59px;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    border-radius: 8px; 
    /* Adjust the radius value as needed */
    border-color:gray;
    width:90%
    
  
  }