{% extends 'base2.html' %}

{% load crispy_forms_tags %}

{% block content %}

<style>
  /* main */
  .main-container {
    grid-area: main;
    overflow-y: auto;
    color: rgba(255, 255, 255, 0.95);
    margin-left: 30px;
  }

  .main-title {
    display: flex;
  }

  .main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: 50px 0;
    margin-left: 50px;
  }

  .cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    width: 70%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Box shadow */
    transition: transform 0.3s ease-in-out; /* Add transition effect for transform property */

  }
  .cards:hover {
    transform: scale(1.05); /* Adjust the scale factor for the hover effect */
}

  .cards:first-child {
    background-color: #263043;
    padding-left: 50px;
  }

  .cards:nth-child(2) {
    background-color: #39baed;
  }

  .cards:nth-child(3) {
    background-color: #2e7d23;
  }



  .card-inner {
    display: flex;
    align-items: center;

  }

  .card-inner>.material-icons-outlined {
    font-size: 45px;

  }

  .charts {
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 60px;
    align-items: center;
    justify-content: center;
  }

  .charts-card {
    background-color: #263043;
    margin-bottom: 20px;
    padding: 25px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;


  }

  .chart-title {
    display: flex;
    align-items: center;
    justify-content: center;

  }
</style>





<div class="main-cards">
  <div class="cards">
    <div class="card-inner">
      <a href="{% url 'chat:create_appointment' %}" style="color: white;">Create Appointment</a>
    </div>
  </div>
  <div class="cards">
    <div class="card-inner">
      <a href="/" style="color: white;">Chat</a>

    </div>
  </div>
  <div class="cards">
    <div class="card-inner">
      <a href="{% url 'chat:user_appointments' %}" class="btn float-right" style="color: white;">My Appointment</a>
    </div>

  </div>
</div>
<div class="cards">
  <div class="card-inner">
    <a href="{% url 'chat:view_appointment_slots' %}" class="btn float-right" style="color: white;">Available Therapists</a>
  </div>

</div>
<div class="list-group list-group-flush list-group-formset" style="width: 100%;">

  <div class="list-group-item">
    <div class="row">
      <div class="col-10">
        <a href=""></a>
      </div>
      <div class="col-2">

      </div>
    </div>
  </div>

  <div class="list-group-item text-center">
    <p class="text-muted font-italic mb-0">You haven't paid yet? Go ahead and <a href=""> make the first payment</a>.
    </p>
  </div>

</div>


{% endblock %}